#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Type=Application
Icon=/usr/share/applications/Notes.ico
Exec="/opt/cxoffice/bin/wine" --bottle "Notes10Demo" --check --wait-children --start "C:/users/crossover/Start Menu/Programs/IBM Applications/IBM Notes.lnk" "$@"
Name=IBM Notes
