[Desktop Entry]
Version=1.0
Type=Application
Terminal=True
Name[en_US]=IBM Notes
Exec=/usr/share/applications/IBMNotes.sh 
Name=IBM Notes
Icon=/usr/share/applications/Notes.ico
