<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.29.4">
      <projectUrl>https://github.com/prominic/domino4wine-Vagrant-SikuliX/</projectUrl>
      <displayName>DominoNotes9-Install-FP</displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.10.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/prominic/domino4wine-Vagrant-SikuliX.git</url>
        <credentialsId>Makr91</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/Domino-Notes</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <jenkins.triggers.ReverseBuildTrigger>
      <spec></spec>
      <upstreamProjects>DominoNotesBottle,DominoNotes9-Install</upstreamProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </jenkins.triggers.ReverseBuildTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>export DISPLAY=:0
if [ -z &quot;$DISPLAY&quot; ]
then
      echo &quot;\$DISPLAY is NULL, not starting Sikulix&quot;
else
      xrandr -s 1440x900x24
      echo &quot;\$DISPLAY is $DISPLAY&quot;
	  echo &quot;Starting Sikulix in Screen Session&quot;
      /usr/lib/jvm/java-11-openjdk-amd64/bin/java -jar /jars/sikulixapi.jar -r $WORKSPACE/conf/Sikulix/scripts/Ubuntu1804_DominoNotes9InstallationFixPack.sikuli --jbuild $BUILD_NUMBER
fi</command>
    </hudson.tasks.Shell>
    <com.cloudbees.jenkins.GitHubSetCommitStatusBuilder plugin="github@1.29.4">
      <statusMessage>
        <content></content>
      </statusMessage>
      <contextSource class="org.jenkinsci.plugins.github.status.sources.DefaultCommitContextSource"/>
    </com.cloudbees.jenkins.GitHubSetCommitStatusBuilder>
  </builders>
  <publishers>
    <org.jenkinsci.plugins.github.status.GitHubCommitStatusSetter plugin="github@1.29.4">
      <commitShaSource class="org.jenkinsci.plugins.github.status.sources.BuildDataRevisionShaSource"/>
      <reposSource class="org.jenkinsci.plugins.github.status.sources.AnyDefinedRepositorySource"/>
      <contextSource class="org.jenkinsci.plugins.github.status.sources.DefaultCommitContextSource"/>
      <statusResultSource class="org.jenkinsci.plugins.github.status.sources.DefaultStatusResultSource"/>
      <statusBackrefSource class="org.jenkinsci.plugins.github.status.sources.BuildRefBackrefSource"/>
      <errorHandlers/>
    </org.jenkinsci.plugins.github.status.GitHubCommitStatusSetter>
  </publishers>
  <buildWrappers>
    <org.jenkinsci.plugins.xvfb.Xvfb plugin="xvfb@1.1.3">
      <installationName>xvfb</installationName>
      <screen>1440x900x24</screen>
      <debug>true</debug>
      <timeout>0</timeout>
      <displayNameOffset>100</displayNameOffset>
      <additionalOptions></additionalOptions>
      <shutdownWithBuild>false</shutdownWithBuild>
      <autoDisplayName>true</autoDisplayName>
      <assignedLabels></assignedLabels>
      <parallelBuild>false</parallelBuild>
    </org.jenkinsci.plugins.xvfb.Xvfb>
  </buildWrappers>
</project>